#resource-slider {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 450px;
    margin: auto;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
  }
  #resource-slider .resource-slider-inset .resource {
    height: 100%;
    position: relative;
  }
  #resource-slider .resource-slider-inset .product-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #resource-slider .resource-slider-inset .product-button{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 145px;
  }
  #resource-slider .resource-slider-inset .product-title p {
    font-size: 35px;
    font-family: 'GT America';
    color: #fff;
    text-transform: uppercase;
    transform: scale(1,1.3);
  }
  #resource-slider .resource-slider-inset .product-button a.button {
    font-size: 16px;
    font-family: 'GT America';
    background: 0 0;
    outline: solid 1px #fff;
    text-transform: capitalize;
    box-shadow: none;
  }
  #resource-slider .arrow {
    cursor: pointer;
    position: absolute;
    width: 2em;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: 0;
    background: transparent;
  }
  
  #resource-slider .arrow:hover {
    background: transparent;
  }
  
  /* #resource-slider .arrow:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0.75em;
    height: 0.75em;
    margin: auto;
    border-style: solid;
  } */
  
  #resource-slider .prev {
    left: 75px;
    bottom: 0;
    z-index: 1;
    border: none;
  }
  
  /* #resource-slider .prev:before {
    left: 0.25em;
    border-width: 3px 0 0 3px;
    border-color: #333 transparent transparent #333;
    transform: rotate(-45deg);
  }
   */
  #resource-slider .next {
    right: 95px;
    bottom: 0;
    z-index: 1;
    border: none;
  }
  .btn-arrow{
    width: 50px;
  }
  /* #resource-slider .next:before {
    right: 0.25em;
    border-width: 3px 3px 0 0;
    border-color: #333 #333 transparent transparent;
    transform: rotate(45deg);
  } */
  
  #resource-slider .resource-slider-frame {
    position: absolute;
    top: 0;
    left: 2em;
    right: 2em;
    bottom: 0;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    overflow: hidden;
  }
  
  #resource-slider .resource-slider-item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
  }
  
  #resource-slider .resource-slider-inset {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2em 1em;
    overflow: hidden;
  }
.slider-container {
    margin: 0 auto;
}
.product_image{
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1500px) {
    .slider-container {
        width: 1500px;
    }
}
@media screen and (max-width: 1500px) {
    .slider-container {
        padding: 0 5rem;
    }
}
@media screen and (max-width: 1024px) {
    .slider-container {
        padding: 0px;
    }
}
  @media ( max-width: 60em ) {
    #resource-slider .resource-slider-item {
      width: 33.33%;
    }
    #resource-slider {
      height: 16em;
    }
  }
  
  @media ( max-width: 45em ) {
    #resource-slider .resource-slider-item {
      width: 50%;
    }
  }
  
  @media ( max-width: 30em ) {
    #resource-slider .resource-slider-item {
      width: 100%;
    }
    #resource-slider {
      height: 19em;
    }
  }

  /* BEGIN RESPONSIVE CSS */
    
  @media ( max-width: 1200PX ) {
    #resource-slider {
      height: 350px;
    }
  }
  @media ( max-width: 768PX ) {
    #resource-slider .resource-slider-inset .product-title p {
      font-size: 27px;
    }
    #resource-slider .prev {
      left: 65px;
    }
    #resource-slider .next {
      right: 75px;
    }
    .btn-arrow{
      width: 35px;
    }
  }